name: Preview Pages

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

permissions:
  contents: write
  pull-requests: write

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    concurrency:
      group: preview-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # [OPTIONAL] If you have a build step (npm install, etc), add it here.
      # - name: Build
      #   run: npm install && npm run build

      - name: Deploy Preview
        uses: rajyan/preview-pages@v1
        with:
          source-dir: . # or './dist' if you have a build step
          preview-branch: gh-pages
          umbrella-dir: pr-preview